apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 2 # ТРЕБОВАНИЕ: 2 реплики (Backend: 2 replicas)
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          # Важно: имя образа должно совпадать с тем, как мы назовем его при сборке
          image: todo-app:latest
          imagePullPolicy: Never # Важно для Minikube (брать локальный образ, не качать из инета)
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: app-config # Берем переменные из ConfigMap
          livenessProbe: # ТРЕБОВАНИЕ: Healthcheck
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: NodePort # ТРЕБОВАНИЕ: Expose via NodePort
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 80       # Порт сервиса внутри кластера
      targetPort: 3000 # Порт контейнера
      nodePort: 30001 # Порт, по которому мы зайдем снаружи (http://minikube-ip:30001)
